.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav_ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px
}

.nav_ul li a {
  text-decoration: none;
  margin: 0 20px;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.nav_ul li a:hover {
  color: #f4ce14;
}

.footer_display {
  display: flex;
  justify-content: space-around;
  align-items: top;
  padding: 20px;
}

.footer_nav_ul {
  display: flex;
  flex-direction:column;
  gap: 5px;
}

.footer_nav_ul li a {
  text-decoration: none;
  color: black
}